@page "/farmhouses"
@inject IFarmhouseService FarmhouseService
@inject NavigationManager NavigationManager

<PageTitle>Farmhouses</PageTitle>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Adress</th>
            <th>Email</th>
            <th>Details</th>
            <th>Products</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var farmhouse in FarmhouseService.Farmhouses)
        {
            <tr>
                <th>@farmhouse.Name</th>
                <th>@farmhouse.Description</th>
                <th>@farmhouse.Address</th>
                <th>@farmhouse.Phone</th>
                <td>
                    <button class="btn btn-primary" @onclick="(() => ShowFarmhouse(farmhouse.Id))">
                        <i class="oi oi-pencil"></i>
                    </button>
                </td>
                <td>
                    <button class="btn btn-primary" @onclick="(() => ShowProducts(farmhouse.Id))">
                        <i class="oi oi-pencil"></i>
                    </button>
                </td>
            </tr>
        }
    </tbody>
</table>

@code {
    protected override async Task OnInitializedAsync()
    {
        await FarmhouseService.GetFarmhouses();
    }

    void ShowFarmhouse(int id)
    {
        NavigationManager.NavigateTo($"farmhouse/{id}");
    }

    void ShowProducts(int id)
    {
        NavigationManager.NavigateTo($"productsFarmhouse/{id}");
    }
}
